<!-- Code for the Footer, as a component, I have the html here, and then I use the 
app.component.html to place it on my different views in the project. -->
<footer class="app-footer">
    <div class="footer-wrapper">
        <div class="clr-row">
            <div class="clr-col-sm-12 clr-col-md-12 clr-col-lg-4 clr-col-xl-4">
                <img class="brand-logo-footer" src="./assets/img/TS-Logo-1.png" />
            </div>
            <div class="clr-col-sm-12 clr-col-md-12 clr-col-lg-4 clr-col-xl-4">
                <ul class="footer-nav">
                    <!-- This is one thing I really like about Angular is how it sets up its
                    links-instead of href, you use the routerlink to connect to views in your code.
                    You have to set this up in the app.component.html -->
                    <li>
                        <a routerLink="/home">Home</a>
                    </li>
                    <li>
                        <a routerLink="/about-me">About Me</a>
                    </li>
                    <li>
                        <a routerLink="/newsletter">Newsletter</a>
                    </li>
                </ul>
            </div>
            <div class="clr-col-12-sm clr-col-12-md clr-col-4-lg clr-col-4-xl">


            </div>
        </div>

    </div>
</footer>