<!-- https://v2.clarity.design/grid -->

<div class="view-wrapper">
    <div class="clr-row">
        <div class="clr-col-6">
            <span>product selected: {{product?.ProductName}}</span>
        </div>
    </div>
    <app-product-display class="clr-row" [products]="items" (productSelected)="productSelected($event)"></app-product-display>
</div>


<!-- <span *ngIf="items.length > 0; else emptyContents"></span>
<span *ngFor="let item of items">
    {{item.name}}
    {{item.value}}
</span>

<ng-template #emptyContents>
    No items in array
</ng-template> -->