<div class="view-wrapper">
        <div class="clr-row">
            <div class="clr-col-sm-6 clr-offset-sm-3">
                <h1>Login</h1>
            </div>
            <div class="clr-col-sm-6 clr-offset-sm-3">
                <!-- #f is used to shorthand in order to access the ngForm model in the view state -->
                <form class="clr-form" #f="ngForm" (ngSubmit)="login(f)">
                    <div class="clr-form-control">
                        <label for="example" class="clr-control-label">Email</label>
                        <div class="clr-control-container">
                            <div class="clr-input-wrapper">
                                <input type="text" id="email" name="email" required [(ngModel)]="formModel.email" placeholder="Example Input" class="clr-input">
                            </div>
                        </div>
                    </div>
                    <div class="clr-form-control">
                        <label for="example" class="clr-control-label">Password</label>
                        <div class="clr-control-container">
                            <div class="clr-input-wrapper">
                                <input type="text" id="password" name="password" required [(ngModel)]="formModel.password" placeholder="Example Input" class="clr-input">
                                <!-- <clr-icon class="clr-validate-icon" shape="exclamation-circle"></clr-icon> -->
                            </div>
                            <!-- <span class="clr-subtext">Error message</span> -->
                        </div>
                    </div>
                    <div class="clr-form-control">
                        <button class="btn btn-primary" [disabled]="!f.valid">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>