.header {
    background: #fff;
    border-bottom: 1px solid #eee;
    margin-bottom: 2em;
    position: fixed;
    width: 100%;
    background: #fff;
    z-index: 1500;
    top: 0;
    left: 0;
}

.header .branding, header .branding {
    position: relative;
}

.brand-logo{
    max-height: 80px;
    width: auto;
    position: fixed;
    top: 10px;
}

.nav-link{
    color: #333 !important;
}

.header-cart{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 65px;
}

span.cart-qty{
    color: red;
}