.header {
    background: #fff;
    border-bottom: 1px solid #eee;
    margin-bottom: 2em;
}

.header .branding, header .branding {
    position: relative;
}

.brand-logo{
    max-height: 80px;
    width: auto;
    position: fixed;
    top: 10px;
}

.nav-link{
    color: #333 !important;
}