<!-- https://v2.clarity.design/grid -->
<div class="view-wrapper">
    <div class="clr-row clr-justify-content-end mb-1">
        <div class="clr-col-sm-12">
            <img src="{{product?.productPhoto}}" style="width: 100%; height: auto; max-height: 460px;" alt="{{product?.productName}}">
            <div class="product-item__name">
                <h1>{{product?.productName}}</h1>
                <button class="btn btn-sm btn-link">
                        <clr-icon shape="star" (click)="setStarRating(1, entry)" [class.is-solid]="entry?.payload?.doc?.data().rating == 1 || entry?.payload?.doc?.data().rating == 2 || entry?.payload?.doc?.data().rating == 3 || entry?.payload?.doc?.data().rating == 4 || entry?.payload?.doc?.data().rating == 5"></clr-icon>
                        <clr-icon shape="star" (click)="setStarRating(2, entry)" [class.is-solid]="entry?.payload?.doc?.data().rating == 2 || entry?.payload?.doc?.data().rating == 3 || entry?.payload?.doc?.data().rating == 4 || entry?.payload?.doc?.data().rating == 5"></clr-icon>
                        <clr-icon shape="star" (click)="setStarRating(3, entry)" [class.is-solid]="entry?.payload?.doc?.data().rating == 3 || entry?.payload?.doc?.data().rating == 4 || entry?.payload?.doc?.data().rating == 5"></clr-icon>
                        <clr-icon shape="star" (click)="setStarRating(4, entry)" [class.is-solid]="entry?.payload?.doc?.data().rating == 4 || entry?.payload?.doc?.data().rating == 5"></clr-icon>
                        <clr-icon shape="star" (click)="setStarRating(5, entry)" [class.is-solid]="entry?.payload?.doc?.data().rating == 5"></clr-icon>
                </button>
                <p>{{product?.productDescription}}</p>
            </div>
        </div>
        <div class="clr-col-sm-12 p-0" *ngIf="user !== null">
            <form #f="ngForm" (ngSubmit)="submitForum(f)">
                <div class="clr-row">
                    <div class="clr-col-sm-12">
                        <clr-textarea-container>
                            <label>Comments</label>
                            <textarea clrTextarea style="width: 100%;" [(ngModel)]="comment" name="comment" required></textarea>
                        </clr-textarea-container>
                    </div>
                    <div class="clr-col-sm-12">
                        <button class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="clr-col-sm-12" *ngIf="forumData.length > 0">
            <h3>Forum</h3>
        </div>
        <div class="clr-col-sm-12" *ngFor="let entry of forumData">
            <div class="clr-row">
                <div class="clr-col-lg-5 clr-col-md-8 clr-col-12">
                    <div class="card">
                        <div class="card-block">

                            <div class="card-text">
                                {{entry?.payload?.doc?.data().comments}}
                            </div>
                        </div>
                        <div class="card-footer">
                            <button class="btn btn-sm btn-link" (click)="addLikeToForumComment(entry)"><clr-icon shape="thumbs-up"></clr-icon> Like</button>
                            <button class="btn btn-sm btn-link" (click)="addDislikeToForumComment(entry)">
                                <clr-icon shape="thumbs-down"></clr-icon> DisLike
                            </button>
                            <!-- <button class="btn btn-sm btn-link">
                                    <clr-icon shape="star" (click)="setStarRating(1, entry)" [class.is-solid]="entry?.payload?.doc?.data().rating == 1 || entry?.payload?.doc?.data().rating == 2 || entry?.payload?.doc?.data().rating == 3 || entry?.payload?.doc?.data().rating == 4 || entry?.payload?.doc?.data().rating == 5"></clr-icon>
                                    <clr-icon shape="star" (click)="setStarRating(2, entry)" [class.is-solid]="entry?.payload?.doc?.data().rating == 2 || entry?.payload?.doc?.data().rating == 3 || entry?.payload?.doc?.data().rating == 4 || entry?.payload?.doc?.data().rating == 5"></clr-icon>
                                    <clr-icon shape="star" (click)="setStarRating(3, entry)" [class.is-solid]="entry?.payload?.doc?.data().rating == 3 || entry?.payload?.doc?.data().rating == 4 || entry?.payload?.doc?.data().rating == 5"></clr-icon>
                                    <clr-icon shape="star" (click)="setStarRating(4, entry)" [class.is-solid]="entry?.payload?.doc?.data().rating == 4 || entry?.payload?.doc?.data().rating == 5"></clr-icon>
                                    <clr-icon shape="star" (click)="setStarRating(5, entry)" [class.is-solid]="entry?.payload?.doc?.data().rating == 5"></clr-icon>
                            </button> -->
                            <button class="btn btn-sm btn-link" disabled>
                                <span>Likes: {{entry?.payload?.doc?.data().likes}}</span>
                            </button>
                            <button class="btn btn-sm btn-link" disabled>
                                <span>Dislikes: {{entry?.payload?.doc?.data().dislikes}}</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
