.product-display {

}

.product-img{
    width: 100%;
    height: auto;
    min-height: 160px;
}

.product-item__name {
    width: 100%;
    font-weight: 600;
    padding: .15em 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.action-count{
    padding-right: 5px;
}

.product-item__actions{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
}

.product-item__image {
    max-height: 160px;
    overflow: hidden;
}

.product-item {
    margin: 1.5em 0;
}