<div class="clr-col-sm-12 clr-col-md-6 clr-col-lg-4 clr-col-xl-3" *ngFor="let item of productList; let i = index">
    <!--Block Element and Modifer naming conventions-->
    <div class="product-wrapper">
        <div class="product-item">
            <div class="product-item__image">
                <img class="product-img" src="./{{item.productPhoto}}" alt={{item.productDescription}} (click)="productAction($event, item, 'views'); openLightbox(item, i)" />
            </div>
            <div class="product-item__name">
                <span>{{item.productName}}</span>
                <!--This click function adds the product to the arraylist cartItem, passing the item-->
                <span><clr-icon shape="shopping-bag" class="is-solid is-highlight" (click)="addProductToCart(item)"></clr-icon></span>
            </div>
            <div class="product-item__actions">
                    <!--This code was original to the website, I had likes and views. However, due to time constraints,
                    I couldn't get my code to work to push back up to firebase to update the numbers of views
                and likes. You could click on the icons, however, the numbers would disappear once the page would 
            refresh. I would like this to work on the next stage of this project.-->
                <!-- <div (click)="productAction($event, item, 'likes')">
                    <span class="action-count">{{item.likes}}</span>
                    <clr-icon shape="heart" class="is-solid is-highlight" title="likes"></clr-icon>
                </div>
                <div>
                    <span class="action-count">{{item.views}}</span>
                    <clr-icon shape="eye" class="is-solid is-highlight" title="views"></clr-icon>
                </div> -->
            </div>
        </div>
    </div>
</div>