<div class="clr-col-sm-12 clr-col-md-6 clr-col-lg-4 clr-col-xl-3" *ngFor="let item of productList; let i = index">
    <!--Block Element and Modifer naming conventions-->
    <div class="product-wrapper">
        <div class="product-item">
            <div class="product-item__image">
                <!--Within this is the Function OpenLightbox, which is the action of clicking on this image
                and then the picture will display at its true size. It will also display its description beneath it-->
                <img class="product-img" src="./{{item.payload.doc.data().productPhoto}}"
                    alt={{item.payload.doc.data().productDescription}}
                    (click)="productAction($event, item, 'views'); openLightbox(item, i)" />
            </div>
            <div class="product-item__name">
                <a routerLink="/image/{{item.payload.doc.data().productID}}">{{item.payload.doc.data().productName}}</a>
                <div>
                    <span class="action-count">{{item.payload.doc.data().views}}</span>
                    <clr-icon shape="eye" class="is-solid is-highlight" title="views"></clr-icon>
                </div>
            </div>
            <div class="product-item__actions">
                <!-- <div (click)="productAction($event, item, 'likes')">
                    <span class="action-count">{{item.payload.doc.data().likes}}</span>
                    <clr-icon shape="heart" class="is-solid is-highlight" title="likes"></clr-icon>
                </div> -->
                <div>
                    <!--This click function adds the product to the arraylist cartItem, passing the item-->
                    <span role="tooltip" aria-haspopup="true" class="tooltip tooltip-md">
                        <button class="btn btn-primary btn-block" (click)="addProductToCart(item)">Add To Cart</button>
                        <span class="tooltip-content">Add To Cart</span>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- <clr-icon shape="shopping-bag" class="is-solid is-highlight" (click)="addProductToCart(item)">
    </clr-icon>
    <span class="tooltip-content">Add To Cart</span> -->