<!-- https://v2.clarity.design/grid -->
<div class="view-wrapper">
        <div class="clr-row clr-justify-content-end mb-1">
            <div class="clr-col-sm-6 clr-sm-6">
                <div class="d-flex d-flex__row d-flex__center-end">
                    <div class="error-me__img">
                        <img class="error-img" src="./assets/img/logoWhoops.PNG" />
                    </div>
                </div>
            </div>
            <div class="clr-col-sm-6 clr-sm-6">
    
                        <h2>I think you ran out of film...</h2>
                        <p>Shoot, literally. The page you are looking for is not this page.
                            In fact, I have no idea how you found this page, but found it you did.
                            Just like any photographer worth their weight in recyclable film canisters, you have managed
                            to shoot with your camera not completely closed. Or loaded your film wrong. Or left the lense cover on.
                            It's okay, we all make mistakes. Find your way out of the dark room and back to the homepage.
                        </p>
            </div>
        </div>
    </div>