<div class="view-wrapper">
        <div class="clr-row clr-justify-content-end mb-1">
            <div class="clr-col-sm-12">
                <p>So, this page is not finished-it will be for the next project. I want to
                    have users sign-up for a Newsletter. Massive errors in the FOOTER of all things
                    pushed back my timeline immensely. Because I didn't want to go and hide this 
                    page, I left it as it.
                    Hope you find the Easter Egg!
                </p>
            </div>
        </div>
    </div>