<!-- https://v2.clarity.design/grid -->
<div class="view-wrapper">
    <div class="clr-row clr-justify-content-end mb-1">
        <div class="clr-col-sm-6 clr-sm-6">
            <div class="d-flex d-flex__row d-flex__center-end">
                <div class="about-me__img">
                    <img class="personal-img" src="./assets/img/tSnopek.jpg" />
                </div>
            </div>
        </div>
        <div class="clr-col-sm-6 clr-sm-6">

                    <h2>At the right place at the right time</h2>
                    <p>Born and raised in Waukesha, I have lived here all my life. 
                        I am an avid photographer and hunter reaching new audiences with the help of the internet every day. 
                        From Saturday night chicken fries at home to picking out our favorite 7oz flavors of Roxo soda, 
                        brought by the case, I am a classic Midwestern Photographer. 
                        Delivering the Waukesha Freeman on my paper route to now I sell pictures to the Freeman forty years later. 
                        With still some fuel left in my tank, enjoying the ride as long as I can.</p>
        </div>
    </div>
</div>