/* You can add global styles to this file, and also import other style files */

.clr-row{
    margin: 0;
    width: 100%;
}

.view-wrapper{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 1em;
}