/* You can add global styles to this file, and also import other style files */
h2, h1 {
    margin-top: 0;
}


.clr-row{
    margin: 0;
    width: 100%;
}

.view-wrapper{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 1em;
    overflow-x: hidden;
    padding-top: 80px;
    padding-bottom: 40px;
}

.d-flex {
    display: flex;

    &__row{
        flex-direction: row;
    }

    &__center-end{
        align-items: center;
        justify-content: flex-end;
    }
    &__center-sb{
        align-items: center;
        justify-content: space-between;
    }

}

.mt {
    &-1{
        margin-top: 1em;
    }
}

.mb {
    &-1{
        margin-bottom: 1em;
    }
}